* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  background-color: #f4f6f8;
}

body,
input,
button,
textarea {
  font: 400 17px Poppins;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}
